<html>
<head>
<style>
body {
	color: #333333;
	font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans",
		Verdana, Arial, sans-serif;
	font-size: 12px;
}

ul {
	padding: .5em 2em;
}
</style>
</head>
<body>
<p>Dear {{ names }}</p>

<p>Your presentation is scheduled for <b>{{ date }}</b> at 11am.<br />
Please send me the title and the abstract of your talk as soon as
possible, not later than coming Wednesday, so I can send the
announcement to the list.</p>

<p>Please note, that :
<ul>
	<li>In case of cancellation your group (leader) has to assign a
	new presenter for the empty slot</li>
	<li>In order to ease the interaction with the audience, you should
	announce the purpose of your talk before you start. Some examples :</li>
	<ul>
		<li>Ask for feedback on an on-going project,</li>
		<li>Discuss a new idea,</li>
		<li>Have a general discussion</li>
	</ul>
	<li>In any case, the presentation must not be <b>no longer
	than 30 minutes, including discussion time.</b><br />
	If you want to answer to some questions during the talk, be sure to
	manage your time accordingly. I will chair the session and indicate the
	beginning of the last 5 minutes relative to the half an hour.</li>
</ul>
</p>

<p>It is also important to note that :
<ul>
	<li>A beamer will be available on the spot but you need to bring
	your own laptop. Please be present 5 minutes before starting, so we can
	get everything connected and tested.</li>
	<li>The time slot is fairly short. Please do not prepare too many
	slides (10-15 is probably about right depending on your style)</li>
	<li>The point of the WAI is to let your colleagues know what
	you're doing, not to give an in-depth lecture about certain algorithms
	or theories. Keep your presentation limited to things that are relevant
	to understand the main point of your talk, and accessible to the
	general AI public.</li>
	<li>The presenter is responsible to timing his/her presentation
	and for managing discussions. Feel free to cut people short if their
	questions are irrelevant or if you do not have time to answer them.
	It's your show, and I am only responsible for stopping it after 30
	minutes.</li>
</ul>
</p>

<p>Cheers,<br />
Christophe</p>
</body>
</html>
