{% extends "wai/base_site.html" %}

{% block extrahead %}
<meta property="og:title" content="Presentations from {{ meeting.presenters }}"/>
<meta property="og:site_name" content="WAI meetings"/>
<meta property="og:url" content="{{ url }}" />
<meta property="og:image" content="http://www.cs.vu.nl/pp-cursus/images/vu-kip-blauw-web.png"/>
{% endblock %}


{% block bodyclass %}dashboard{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="../../../../">WAI</a> 
&rsaquo;
<a href="../../../">Schedule</a> 
&rsaquo;
<a href="../../">{{ date|date:"Y" }}</a> 
&rsaquo;
{{ date|date:"d b" }}
</div>
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
<div id="content-main">
	{% for presentation in meeting.presentation_set.all %}
	<div class="module">
		<h2>Title : {{ presentation.title }}</h2>
		<table style="width:100%;">
			<tbody>
				<tr>
					<td><b>Presenter</b></td>
					<td>{{ presentation.presenter.name }}</td>
				</tr>
				<tr>
					<td><b>Abstract</b></td>
					<td>{{ presentation.abstract }}</td>
				</tr>
				{% if presentation.slides  %}
				<tr>
					<td><b>Slides</b></td>
					<td><a href="../../../../../media/{{presentation.slides}}">Click on that link to get the slides</a></td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
	{% endfor %}
</div>

<div id="content-related">
	{% if user.is_authenticated and user.is_staff %}
	<div class="module">
	<h2>Actions</h2>
	<ul class="actionlist">
		<li class="addlink" style="list-style-type:none;">
			<a href="../../../../mailing/send_request?id={{meeting.date}}">Request abstracts</a><br/>
			<span class="mini quiet">ask presenters to send their abstracts</span>
		</li>
		<li class="addlink" style="list-style-type:none;">
			<a href="../../../../mailing/send_announce?id={{meeting.date}}">Announce meeting</a><br/>
			<span class="mini quiet">announce the content of the next meeting</span>
		</li>
		<li class="changelink" style="list-style-type:none;">
			<a href="../../../../../admin/scheduler/meeting/{{meeting.date|date:'Y'}}-{{meeting.date|date:'m'}}-{{meeting.date|date:'d'}}">Edit meeting</a><br/>
			<span class="mini quiet">change or add meeting details (abstract/title/slides)</span>
		</li>
	</ul>
	
	</div>
	{% endif %}
</div>
{% endblock %}
