{% extends "wai/base_site.html" %}

{% block extrahead %}
<meta property="og:title" content="Presentations from {{ meeting.presenters }}"/>
<meta property="og:site_name" content="WAI meetings"/>
<meta property="og:url" content="{{ url }}" />
<meta property="og:image" content="http://www.cs.vu.nl/pp-cursus/images/vu-kip-blauw-web.png"/>
{% endblock %}


{% block bodyclass %}dashboard{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="../../../../">WAI</a> 
&rsaquo;
<a href="../../../">Schedule</a> 
&rsaquo;
<a href="../../">{{ date|date:"Y" }}</a> 
&rsaquo;
{{ date|date:"d b" }}
</div>
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
<div id="content-main">
	{% for presentation in meeting.presentation_set.all %}
	<div class="module">
		<h2>Title : {{ presentation.title }}</h2>
		<table style="width:100%;">
			<tbody>
				<tr>
					<td><b>Presenter</b></td>
					<td>{{ presentation.presenter.name }}</td>
				</tr>
				<tr>
					<td><b>Abstract</b></td>
					<td>{{ presentation.abstract }}</td>
				</tr>
				{% if presentation.slides  %}
				<tr>
					<td><b>Slides</b></td>
					<td><a href="../../../../../media/{{presentation.slides}}">Click on that link to get the slides</a></td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
	{% endfor %}
</div>

<div id="content-related">
	{% if user.is_authenticated and user.is_staff %}
	<div class="module">
	<h2>Actions</h2>
	<h3>Send mails</h3>
	<ul class="actionlist">
		<li class="addlink" style="list-style-type:none;">
			<a href="../../../../mailing/send_request?id={{meeting.date}}">Request abstracts</a><br/>
			<span class="mini quiet">ask presenters to send their abstracts</span>
		</li>
		<li class="addlink" style="list-style-type:none;">
			<a href="../../../../mailing/send_announce?id={{meeting.date}}">Announce meeting</a><br/>
			<span class="mini quiet">announce the content of the next meeting</span>
		</li>
	</ul>
	</div>
	{% endif %}
	<div class="module">
	<h2>Social networking</h2>
	<h3>Click on the like button to like this page on Facebook</h3>
	<br/>
	<p>
	<iframe src="http://www.facebook.com/plugins/like.php?href={{url2}}&amp;layout=standard&amp;show_faces=true&amp;width=150&amp;action=like&amp;colorscheme=evil" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:100%; height:px"></iframe>
	</p>
	</div>
</div>
{% endblock %}
