{% extends "wai/base_site.html" %}

{% block bodyclass %}dashboard{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="../">WAI</a> 
&rsaquo;
Presenters
{{ presenters|capfirst|escape }}
</div>
<ul class="messagelist"><li>Click on a name or a group to get a detailled view</li></ul>
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
<div id="content-main">
<div class="module">
<h2>List of all presenters</h2>
<table style="width:100%;">
<thead><tr><th>Name</th><th>Group</th></tr></thead>
<tbody>
{% for presenter in presenter_list %}
<tr class="{% cycle 'row1' 'row2' %}">
<!--<th><a href="../../meeting/{{meeting.date}}">{{ meeting.date|date:"d F Y" }}</a></th>-->
<td><a href="{{presenter.id}}/">{{ presenter.name }}</a></td>
<td><a href="../group/{{presenter.group.id}}/">{{ presenter.group.name}}</a></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
{% endblock %}
