{% extends "wai/base_site.html" %}

{% block bodyclass %}dashboard{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="../../">WAI</a> 
&rsaquo;
<a href="../">Presenters</a> 
&rsaquo;
{{ presenter.name|capfirst|escape }}
</div>
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
<div id="content-main">
	<div class="module">
		<h2>Information</h2>
		<table style="width:100%;">
			<tbody>
				<tr>
					<td><b>Name</b></td>
					<td>{{ presenter.name}}</td>
				</tr>
				<tr>
					<td><b>Group</b></td>
					<td>{{ presenter.group.name}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="module">
		<h2>List of presentations</h2>
		<table style="width:100%;">
			<thead><tr><th>Date</th><th>Title</th></tr></thead>
			<tbody>
				{% for presentation in presentation_list %}
				<tr>
					<td>{{ presentation.meeting.date|date:"d F Y" }}</td>
					<td><a href="../../presentation/{{presentation.id}}">{{ presentation.title }}</a> </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
